@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #2d2d2d;
}

@theme inline {
  --aspect-retro: 4 / 3;
  --aspect-portrait: 4 / 5;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-2ed-black: #2d2d2d;
  --color-2ed-light-yellow: #fff20b;
  --color-2ed-dark-yellow: #fda82e;
  --color-2ed-dark-red: #ea2323;
  --color-2ed-light-red: #ea7c7c;
  --color-2ed-dark-blue: #008cc1;
  --color-2ed-light-blue: #6dcef7;
  --color-2ed-light-green: #c2dfcf;
  --font-title: var(--merriweather);
  --font-subtitle: var(--ibm-plex-sans);
  --font-block: var(--crimson-text);
}

@layer utilities {
  .aquilla-bars {
    ::before {
      content: " ";
      position: absolute;
      background-image: repeating-linear-gradient(
        to bottom,
        var(--color-background),
        var(--color-background) 0.75rem,
        transparent 0.75rem,
        transparent 1.5rem
      );
      top: 0.75rem;
      bottom: 0.75rem;
      left: 0;
      width: 2.5rem;
    }
    ::after {
      content: " ";
      position: absolute;
      background-image: repeating-linear-gradient(
        to bottom,
        var(--color-background),
        var(--color-background) 0.75rem,
        transparent 0.75rem,
        transparent 1.5rem
      );
      top: 0.75rem;
      bottom: 0.75rem;
      right: 0;
      width: 2.5rem;
    }
    @variant md {
      ::before {
        content: " ";
        position: absolute;
        background-image: repeating-linear-gradient(
          to bottom,
          var(--color-background),
          var(--color-background) 1.5rem,
          transparent 1.5rem,
          transparent 3rem
        );
        top: 1.5rem;
        bottom: 1.5rem;
        left: 0;
        width: 5rem;
      }
      ::after {
        content: " ";
        position: absolute;
        background-image: repeating-linear-gradient(
          to bottom,
          var(--color-background),
          var(--color-background) 1.5rem,
          transparent 1.5rem,
          transparent 3rem
        );
        top: 1.5rem;
        bottom: 1.5rem;
        right: 0;
        width: 5rem;
      }
    }
  }
  .aquilla-bars-black {
    ::before {
      content: " ";
      position: absolute;
      background-image: repeating-linear-gradient(
        to bottom,
        var(--color-black),
        var(--color-black) 1.2rem,
        transparent 1.2rem,
        transparent 2.4rem
      );
      top: 1rem;
      bottom: 1rem;
      left: 0;
      width: 3.25rem;
    }
    ::after {
      content: " ";
      position: absolute;
      background-image: repeating-linear-gradient(
        to bottom,
        var(--color-black),
        var(--color-black) 1.2rem,
        transparent 1.2rem,
        transparent 2.4rem
      );
      top: 1rem;
      bottom: 1rem;
      right: 0;
      width: 3.25rem;
    }
  }
  .aquilla-bars-tiny {
    ::before {
      content: " ";
      position: absolute;
      background-image: repeating-linear-gradient(
        to bottom,
        var(--color-black),
        var(--color-black) 0.4rem,
        transparent 0.4rem,
        transparent 0.8rem
      );
      top: 0.4rem;
      bottom: 0.4em;
      left: 0;
      width: 0.7rem;
    }
    ::after {
      content: " ";
      position: absolute;
      background-image: repeating-linear-gradient(
        to bottom,
        var(--color-black),
        var(--color-black) 0.4rem,
        transparent 0.4rem,
        transparent 0.8rem
      );
      top: 0.4rem;
      bottom: 0.4em;
      right: 0;
      width: 0.7rem;
    }
  }
  .ordered-list {
    ol {
      counter-reset: item;

      > li {
        counter-increment: item;
        padding-left: calc(var(--spacing) * 6);
      }
      > li::before {
        content: counters(item, ".") ". ";
        margin-left: calc(var(--spacing) * -6);
      }
    }
  }
  .dynamic-content {
    h3 {
      font-family: var(--ibm-plex-sans);
      font-size: var(--text-2xl);
      line-height: var(--tw-leading, var(--text-2xl--line-height));
    }
    h4 {
      font-family: var(--ibm-plex-sans);
      font-size: var(--text-xl);
      line-height: var(--tw-leading, var(--text-xl--line-height));
    }

    p,
    li {
      font-size: var(--text-lg);
      line-height: var(--tw-leading, var(--text-lg--line-height));
    }
    .ordered-list {
      ol {
        flex-direction: column;
        display: flex;
        gap: calc(var(--spacing) * 4);
        > li {
          > *:first-child {
            display: inline;
          }
          > section {
            flex-direction: column;
            display: flex;
            gap: calc(var(--spacing) * 2);
            margin-top: calc(var(--spacing) * 2);
          }
        }
        > li::before {
          font-size: var(--text-2xl);
          line-height: var(--tw-leading, var(--text-2xl--line-height));
        }
      }

      ul {
        list-style: disc;
        list-style-position: inside;
      }
    }
    .text-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: calc(var(--spacing) * 2);
    }
    .text-vertical {
      writing-mode: sideways-lr;
    }
    .table-container {
      overflow-x: auto;
      position: relative;
      table {
        position: relative;
        width: 100%;
        min-width: max-content;
        table-layout: auto;
        background-color: var(--color-black);
        border-color: var(--color-black);
        border-style: var(--tw-border-style);
        border-width: 4px;
        border-collapse: collapse;
        text-align: center;
        thead {
          background-color: var(--color-black);
          font-size: var(--text-sm);
          line-height: var(--tw-leading, var(--text-sm--line-height));
          font-family: var(--ibm-plex-sans);
          color: var(--color-white);
        }
        tbody {
          --tw-font-weight: var(--font-weight-semibold);
          font-weight: var(--font-weight-semibold);
          font-size: var(--text-lg);
          line-height: var(--tw-leading, var(--text-lg--line-height));
          tr:nth-child(odd) td {
            background-color: var(--background);
          }
          tr:nth-child(even) td {
            background-color: color-mix(
              in oklab,
              var(--background) 80%,
              transparent
            );
          }
        }
        th {
          min-width: calc(var(--spacing) * 10);
          padding: calc(var(--spacing) * 2);
          color: var(--color-white);
        }
        td {
          min-width: calc(var(--spacing) * 10);
          padding: calc(var(--spacing) * 2);
        }
        .empty {
          background: transparent !important;
          color: var(--color-white);
        }
      }
    }
    .chart {
      display: grid;
      border-color: var(--color-black);
      border-style: var(--tw-border-style);
      border-width: 4px;
      border-bottom: none;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      h3 {
        padding: calc(var(--spacing) * 2);
        background-color: var(--color-black);
        color: var(--color-white);
        font-family: var(--ibm-plex-sans);
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
      }
      div {
        padding: calc(var(--spacing) * 2);
        font-size: var(--text-lg);
        line-height: var(--tw-leading, var(--text-lg--line-height));
        border-color: var(--color-black);
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 4px;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d2d2d;
    --foreground: #fafafa;
  }
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 4em;
}

body {
  background: var(--background);
  color: var(--foreground);
}
