@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2d2d2d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-2ed-yellow: #fff20b;
  --color-2ed-dark-red: #ea2323;
  --color-2ed-light-red: #ea7c7c;
  --color-2ed-dark-blue: #008cc1;
  --color-2ed-light-blue: #6dcef7;
  --font-title: var(--merriweather);
  --font-subtitle: var(--ibm-plex-sans);
  --font-block: var(--crimson-text);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #2d2d2d;
    --foreground: #ffffff;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
