@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #2d2d2d;
}

@theme inline {
  --aspect-retro: 4 / 3;
  --aspect-portrait: 4 / 5;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-2ed-black: #2d2d2d;
  --color-2ed-light-yellow: #fff20b;
  --color-2ed-dark-yellow: #fda82e;
  --color-2ed-dark-red: #ea2323;
  --color-2ed-light-red: #ea7c7c;
  --color-2ed-dark-blue: #008cc1;
  --color-2ed-light-blue: #6dcef7;
  --color-2ed-light-green: #c2dfcf;
  --font-title: var(--merriweather);
  --font-subtitle: var(--ibm-plex-sans);
  --font-block: var(--crimson-text);
}

@layer utilities {
  .aquilla-bars {
    ::before {
      content: " ";
      position: absolute;
      background-image: repeating-linear-gradient(
        to bottom,
        var(--color-background),
        var(--color-background) 0.75rem,
        transparent 0.75rem,
        transparent 1.5rem
      );
      top: 0.75rem;
      bottom: 0.75rem;
      left: 0;
      width: 2.5rem;
    }
    ::after {
      content: " ";
      position: absolute;
      background-image: repeating-linear-gradient(
        to bottom,
        var(--color-background),
        var(--color-background) 0.75rem,
        transparent 0.75rem,
        transparent 1.5rem
      );
      top: 0.75rem;
      bottom: 0.75rem;
      right: 0;
      width: 2.5rem;
    }

    @variant md {
      ::before {
        content: " ";
        position: absolute;
        background-image: repeating-linear-gradient(
          to bottom,
          var(--color-background),
          var(--color-background) 1.5rem,
          transparent 1.5rem,
          transparent 3rem
        );
        top: 1.5rem;
        bottom: 1.5rem;
        left: 0;
        width: 5rem;
      }
      ::after {
        content: " ";
        position: absolute;
        background-image: repeating-linear-gradient(
          to bottom,
          var(--color-background),
          var(--color-background) 1.5rem,
          transparent 1.5rem,
          transparent 3rem
        );
        top: 1.5rem;
        bottom: 1.5rem;
        right: 0;
        width: 5rem;
      }
    }
  }

  .aquilla-bars-black {
    ::before {
      content: " ";
      position: absolute;
      background-image: repeating-linear-gradient(
        to bottom,
        var(--color-black),
        var(--color-black) 1.2rem,
        transparent 1.2rem,
        transparent 2.4rem
      );
      top: 1rem;
      bottom: 1rem;
      left: 0;
      width: 3.25rem;
    }
    ::after {
      content: " ";
      position: absolute;
      background-image: repeating-linear-gradient(
        to bottom,
        var(--color-black),
        var(--color-black) 1.2rem,
        transparent 1.2rem,
        transparent 2.4rem
      );
      top: 1rem;
      bottom: 1rem;
      right: 0;
      width: 3.25rem;
    }
  }
}

.aquilla-bars-tiny {
  ::before {
    content: " ";
    position: absolute;
    background-image: repeating-linear-gradient(
      to bottom,
      var(--color-black),
      var(--color-black) 0.4rem,
      transparent 0.4rem,
      transparent 0.8rem
    );
    top: 0.4rem;
    bottom: 0.4em;
    left: 0;
    width: 0.7rem;
  }
  ::after {
    content: " ";
    position: absolute;
    background-image: repeating-linear-gradient(
      to bottom,
      var(--color-black),
      var(--color-black) 0.4rem,
      transparent 0.4rem,
      transparent 0.8rem
    );
    top: 0.4rem;
    bottom: 0.4em;
    right: 0;
    width: 0.7rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d2d2d;
    --foreground: #fafafa;
  }
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 4em;
}

body {
  background: var(--background);
  color: var(--foreground);
}
